{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <div class="section nobg mt-4 mb-0 pb-0">
        <div class="container">
            <h3>Choix techniques</h3>
            <hr>
            <h5>Symfony</h5>
            <p>
                Pour réaliser ce site web, nous avons utilisé Symfony. Ce framework permet d'automatiser certaines choses comme l'authentification ou la gestion en base de donnée.
                <br>
                Bien évidemment, il reste compliqué à utiliser et des compétences sont nécessaire à son utilisation.
            </p>
            <h5>Boostrap</h5>
            <p>
                Pour le CSS, nous avons utilisé Boostrap qui offre énormément de style déjà fait.
                <br>
                Il permet donc un gain de temps énorme pour tout ce qui est mise en forme du HTML.
            </p>
            <h5>jQuery</h5>
            <p>
                Simple d'utilisation et très complet au niveau des addons, jQuery s'adapte parfaitement à Boostrap.
            </p>
            <h5>Structure du site</h5>
            <p>
                La structure du site repose sur l'architecture MVC, celle-ci a déjà fait ses preuves, inutile de réexpliquer.
            </p>
            <h5>Logo du site</h5>
            <p>
                Le logo du site a été créé avec Illustrator.
                <br>
                La tasse ainsi que le grain de café rappellent le café, et les petits pixels rappellent l'informatique.
            </p>
        </div>
    </div>
{% endblock %}