{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="section nobg mt-4 mb-0 pb-0">
        <div class="container">
            <h3>Le café</h3>

            <blockquote class="quote">
                <p>
            Il vient d'un arbre appelé Caféier, cet arbre produit des fruits nommés cerise. Cette cerise contient deux noyaux entourés d'une partie charnue. Les noyaux de ces cerises sont appelés graines de café ce sont elles qui nous intéressent, car elles constituent le café .
                </p>
            </blockquote>

            <hr>

            <h3>Le monde et le café</h3>
            <blockquote class="quote">
                <p>Le café, une denrée qui est située deuxième dans les matières premières échangées à travers le monde. Cependant, elle est la première matière agricole échangée à l'échelle mondiale. Chaque seconde, environ 1684 tasses de café sont consommées. Le café représente un marché important, car le nombre d'emplois auquel il est lié est immense on dénombre 110 millions de personne à travers le monde, qui vivent de lui. Que ce soit les importateurs, les baristats ou les torréfacteurs, Ils sont liés par ce facteur commun et dépendent les un des autres.</p>
            </blockquote>

            <hr>

            <h3>De l'arbre a votre tasse</h3>

            <blockquote class="quote">
                <p>
                    Venant du caféier ce fruit prend après sa floraison entre 6-11 mois pour être prêt à être récolté. Il existe plusieurs méthodes pour récolter ces fruits. La première méthode est mécanisée, c'est l'égrappage. Tous les types de fruit sont récoltés sans faire attention à la maturité de chaque élément. Cette méthode qui est rapide, produit un café hétérogène. La deuxième méthode consiste à les cueillir à la main, cette méthode est fastidieuse, car elle mobilise un grand nombre de personnes et elle prend du temps, car chaque arbre nécessite plusieurs passages, mais le café qui en ressort sera d'une meilleure qualité.
                </p>
                <p>
            La récolte effectuée, vient l'étape du trie. Le trie sert a éliminé les graines de moindre qualité. Pour faire cela on les déleste de leur partie charnue via deux procédés différents :
                </p>
                <p>
                la voie sèche, par laquelle on obtient le café coque : la voie sèche consiste simplement à placer les fruits au soleil pour qu'ils sèchent. Ce procédé prend une vingtaine de jours.
                </p>
                <p>
                la voie humide qui permet d'obtenir le café parche sec : la voie humide est constituée de plusieurs stades : le dépulpage, le lavage, la séparation par densité et le séchage. Les deux premières étapes servent particulièrement à se débarrasser de la peau du fruit sans abîmer le grain. Le café est ensuite placé dans différent courant d'eau qui permet de séparer les grains légers des grains lourds. Les grains plus légers sont jetés. Cela permet de réduire l'amertume du café et lui procurer un goût plus fin. À la fin de cette étape, le grain, entouré de sa seule parche, il est ensuite séché afin de retirer son humidité. Cela permet d'obtenir un café d'une bien meilleure qualité, en respectant davantage les caractéristiques naturelles du fruit. Ensuite un décorticage des grains est effectué cela permet d'enlever la coque de celui-ci. Un nouveau tri est effectuer afin de séparer les grains contenant des impuretées.
                </p>
                <p>
                La torréfaction est la suite logique pour transformer les graines de cafés. Un mélange peut être fait entre différentes graines pour produire différents types d'arômes. Pour la torréfaction les graines sont placées dans un four thermique chauffer entre 180°c et 240°c. La durée d'exposition des graines à cette chaleur décidera de sa couleur et de l'amertume de ce dernier. À l'issue de la torréfaction, le grain ne peut être bu comme ça ! Le café doit être moulu bien sûr ! La finesse de la mouture doit d'ailleurs être adaptée au mode de préparation de la boisson.
                </p>
                <p>
                On arrive à la partie décisive, elle demande du temps et une dextérité importante. Amené votre tasse a votre bouche et goutez-le. Attention à ne rien renversé sur votre ordinateur.
                </p>
            </blockquote>
        </div>
    </div>
{% endblock %}